/* Style Sheet Template from https://bitbucket.org/oliverkrystal/dotfile
 * Permission granted for use as learning material and inspiration.
 * Dotfile as a git repo theology applies
 *
*/

@font-face {
    font-family: 'HattoriHanzoLight';
    src: url('https://soliloquyforthefallen.net/resources/fonts/hattori/Hattori_Hanzo-webfont.eot');
    src: url('https://soliloquyforthefallen.net/resources/fonts/hattori/Hattori_Hanzo-webfont.eot?iefix') format('eot'),
         url('https://soliloquyforthefallen.net/resources/fonts/hattori/Hattori_Hanzo-webfont.woff') format('woff'),
         url('https://soliloquyforthefallen.net/resources/fonts/hattori/Hattori_Hanzo-webfont.ttf') format('truetype'),
         url('https://soliloquyforthefallen.net/resources/fonts/hattori/Hattori_Hanzo-webfont.svg#webfontMI2Bhqsh') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HattoriHanzoLightItalic';
    src: url('https://soliloquyforthefallen.net/resources/fonts/hattori/Hattori_Hanzo_Italic-webfont.eot');
    src: url('https://soliloquyforthefallen.net/resources/fonts/hattori/Hattori_Hanzo_Italic-webfont.eot?iefix') format('eot'),
         url('https://soliloquyforthefallen.net/resources/fonts/hattori/Hattori_Hanzo_Italic-webfont.woff') format('woff'),
         url('https://soliloquyforthefallen.net/resources/fonts/hattori/Hattori_Hanzo_Italic-webfont.ttf') format('truetype'),
         url('https://soliloquyforthefallen.net/resources/fonts/hattori/Hattori_Hanzo_Italic-webfont.svg#webfont7cLYeKbS') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProggyCleanTTSZRegular';
    src: url('https://soliloquyforthefallen.net/resources/fonts/proggy-clean/proggycleansz-webfont.eot');
    src: url('https://soliloquyforthefallen.net/resources/fonts/proggy-clean/proggycleansz-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://soliloquyforthefallen.net/resources/fonts/proggy-clean/proggycleansz-webfont.woff') format('woff'),
         url('https://soliloquyforthefallen.net/resources/fonts/proggy-clean/proggycleansz-webfont.ttf') format('truetype'),
         url('https://soliloquyforthefallen.net/resources/fonts/proggy-clean/sproggycleansz-webfont.svg#ProggyCleanTTSZRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Goudy-Italic';
    src: url('https://soliloquyforthefallen.net/resources/fonts/goudy/GoudyStM-Italic-webfont.eot');
    src: url('https://soliloquyforthefallen.net/resources/fonts/goudy/GoudyStM-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://soliloquyforthefallen.net/resources/fonts/goudy/GoudyStM-Italic-webfont.woff') format('woff'),
         url('https://soliloquyforthefallen.net/resources/fonts/goudy/GoudyStM-Italic-webfont.ttf') format('truetype'),
         url('https://soliloquyforthefallen.net/resources/fonts/goudy/GoudyStM-Italic-webfont.svg#Existence-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body{
	font-family: 'HattoriHanzoLight', 'sans-serif';
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color:#000000;
	text-align: left;
	color: #C0C0C0;
}

a.nav, a.nav:hover, a.nav:focus , a.nav:visited,  a.nav:link {border: none; text-decoration: none;}

a:visited{
	color:#B4070C;
}

a:hover{
	color:#FF0000;
}

a:link{
	color:#D20000;
}

blockquote {
	margin-left: 5%;
	width: 75%;
	font-family: 'Goudy-Italic',monospace, 'Tahoma';
	border-left: 1px solid grey;
	padding-left: 10px;
}

code{
	margin-left: auto;
	margin-right: auto;
	height:auto;
	width:75%;
	font-family: 'ProggyCleanTTSZRegular', 'monospace';
	display: block;
	/*word-wrap: break-word;*/
}

ul {
	list-style-position: inside;
}

/*Unordered List Check boxes.  Use class="checkbox" to activate */
ul.checkbox { /*With thanks to this bloke: http://stackoverflow.com/a/7463416*/
	list-style-type: none;
	list-style-position: inside;
}

ul.checkbox > li:before { /*http://stackoverflow.com/questions/958170/how-do-i-prevent-css-inheritance the > breaks sub child inheritance, a desirable feature for my "feature"*/
    content: "\2610";
    margin-right:5px;
}

ul.checkbox > li:active:before
{
    content: "\2611";
    margin-right:5px;
}

/*Wikipedia-like floating [citation] function, use class="citation" to activate */
a.citation {
	vertical-align: super;
	font-size: 60%;
	color: gray;
	text-decoration: none;

}

footer {
	display: block;
	clear: both;
}